<!DOCTYPE html>
<html>
<head>
    <title>Upload Image</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="header">
        <h1>Image Upload App</h1>
        <img src="/static/logo.png" alt="Logo" id="logo">
    </div>
    <div id="container">
        <div id="left-bar">
            <h2>Uploaded Files</h2>
            <div class="button-group">
                <button onclick="deleteAllImages()">Delete All Images</button>
                <button onclick="toggleUploadForm()">Upload Images</button>
            </div>
            <div id="file-list">
                {% for image in images %}
                    <div onclick="showImage('{{ image }}')" class="image-item" id="{{ image }}">
                        {{ image }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="main-content">
            <main>
                <div class="center" id="upload-form-container" style="display: none;">
                    <form id="upload-form" action="/upload/" enctype="multipart/form-data" method="post">
                        <div class="form-group">
                            <label for="files">Choose images or zip files to upload:</label>
                            <input type="file" id="files" name="files" accept="image/*,.zip" multiple>
                        </div>
                        <div class="form-group">
                            <button type="button" onclick="checkFilesAndSubmit()">Upload</button>
                        </div>
                    </form>
                </div>
                <div id="preview" class="center" style="display: none;"></div>
            </main>
        </div>
    </div>

    <script>
        function showImage(image) {
            const items = document.querySelectorAll('.image-item');
            items.forEach(item => item.classList.remove('selected'));
            document.getElementById(image).classList.add('selected');
            document.getElementById('preview').innerHTML = '<img src="/uploaded_images/' + image + '" class="preview-image">';
            document.getElementById('preview').style.display = 'flex';
            document.getElementById('upload-form-container').style.display = 'none';
        }

        function deleteAllImages() {
            fetch('/delete_all/', { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        alert('Failed to delete images');
                    }
                });
        }

        function toggleUploadForm() {
            const formContainer = document.getElementById('upload-form-container');
            const preview = document.getElementById('preview');
            if (formContainer.style.display === 'none') {
                formContainer.style.display = 'flex';
                preview.style.display = 'none';
            } else {
                formContainer.style.display = 'none';
                preview.style.display = 'none';
            }
        }

        function checkFilesAndSubmit() {
            const filesInput = document.getElementById('files');
            if (filesInput.files.length === 0) {
                alert('Please select at least one file to upload.');
            } else {
                document.getElementById('upload-form').submit();
            }
        }
    </script>
</body>
</html>
